<h2>Login</h2>

<div class="container">
  <div class="row">
    <%= form_with url: sessions_path, local: true do |f| %>
      <div class="form-group">
        <%= f.text_field :email, placeholder: "Email", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
      </div>
      <%= f.button "Go", class: 'btn btn-secondary top-margin', data: { disable_with: "<i class='fas fa-spinner fa-pulse'></i> Signing in..." } %>
    <% end %>
  </div>
</div>
