<% flash.each do |key, value| %>
  <div id="flash-alert" class="alert alert-danger" role="alert">
    <span class="sr-only">Error:</span>
      <% value.each do |v| %>
        <%= v %><br>
      <% end %>
  </div>
<% end %>


