<div id="profile-image" class="center profile-image">
    <%= image_tag "zach.jpg", class: "card_img img-circle maven" %>
</div>
<p class="bio">A graduate of UC Santa Cruz with a B.S. in Molecular, Cell, and Developmental Biology. He worked as an investigator at an environmental law firm, where he discovered an interest in SQL. He initially pursued this interest by learning SQL and Ruby on nights and weekends, but eventually decided to accelerate his learning by attending Dev Bootcamp. Several web apps and many pots of coffee later, he's ready to help you grow your business by building your website or joining your engineering team.</p>
<p class="bio"><%= link_to '<em>Contact Zach</em>'.html_safe, contact_path %> to find out how he can help your business grow!</p>
